 <div
        class="card-container bg-gray-900/20 flex flex-col justify-center items-center gap-1 p-4 py-8 rounded-2xl border-2 border-gray-700/90 w-full min-h-90">
       
          <select name="TESTE" id="TESTE" class="bg-gray-50" required>
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
            
         </select> 
        <p class="text-gray-600 text-sm">Média Geral</p>
        <p class="text-green-600 text-3xl">0</p>

        
    </div>