<div
    class="card-container bg-gray-900/20 grid grid-cols-3 grid-rows-[auto_1fr] gap-8 p-4 py-4 rounded-2xl border-2 border-gray-700/30 w-full min-h-90 relative">
    <select name="Subjects" id=""
        class="text-white self-end absolute top-2 col-start-3 justify-self-end mr-2 border border-gray-700/80 bg-gray-900/20 rounded-xl p-2"
        [(ngModel)]="SelectedSubject">
        <ng-container *ngFor="let subject of subjects">
            <option selected [value]="subject.name">{{ SelectedSubject() }}</option>
        </ng-container>
    </select>

    <div class="apresentation flex flex-col justify-center items-center col-start-1 row-start-1 self-start gap-2 leading-none ">
        <div class="flex gap-4 self-start">
            <lucide-angular size="24" [img]="TrendingUp" class="my-icon text-blue-400 self-start"></lucide-angular>
            <p class="text-white text-xl font-bold leading-none">Minha Disciplina</p>
        </div>
    </div>

    <div class="col-start-1 col-end-4 row-start-1 mt-12 ">
        <div class="subject-card bg-gray-600/20 p-4  w-full rounded-xl text-white grid grid-cols-3 gap-1.5 relative">
            
            <div class="col-start-1 row-start-1">
                <p class="text-2xl font-bold">{{ SelectedSubject() }}</p>
            </div>


            <div class="flex flex-col col-start-1 row-start-1 gap-0.5 self-end  ">
                <p class="text-gray-400/80 text-sm">Carlos Almeida</p>
                <p class="text-gray-300/35 text-xs">professor@gmail.com</p>
            </div>

            <div class="flex flex-col col-start-4 text-end gap-2 w-fit self-end items-center">
                <p class="text-4xl text-green-500 font-bold ">8.5</p>
                <p class="bg-green-600/20 px-3 py-0.5 rounded-xl text-green-500 w-fit font-bold">Aprovado</p>

            </div>

        </div>

    
    </div>
       <div class="flex flex-col gap-2 col-start-1 col-end-4">
          <p class="text-gray-300/45 col-start-1 row-start-2 text-md">Trabalhos enviados</p>
        <div class="bg-gray-600/20   w-full rounded-xl text-white p-4 text-sm  ">
             <h1>Lista de exercicios - Cap 3</h1>
               <p class="text-gray-300/35 text-xs">professor@gmail.com</p>
        </div>

           <div class="bg-gray-600/20   w-full rounded-xl text-white p-4 text-sm  ">
             <h1>Lista de exercicios - Cap 3</h1>
               <p class="text-gray-300/35 text-xs">professor@gmail.com</p>
        </div>
   <div class="bg-gray-600/20   w-full rounded-xl text-white p-4 text-sm  ">
             <h1>Lista de exercicios - Cap 3</h1>
               <p class="text-gray-300/35 text-xs">professor@gmail.com</p>
        </div>
       </div>
</div>