<nav class="flex p-2 lg:px-4 lg:py-2 bg-slate-950 border-b border-slate-700 ">

<app-logo-icon></app-logo-icon>

    <div class="flex flex-col justify-center px-2  relative ml-1 ">
        <h1 class="text-white text-xl ">SchoolBus</h1>
        <p class="text-slate-400/70 text-xs ">Portal do Aluno</p>
    </div>

    <div class="ml-auto flex gap-2 lg:gap-2 relative items-center mb-1 ">
      <app-bell-icon></app-bell-icon> <div [ngClass]="{'visible': Notification}" class=" w-1.5 h-1.5 absolute left-7 top-3 bg-red-700 rounded-full"></div>
      <app-logout-icon></app-logout-icon> 
    </div>
    <div>

    </div>
</nav>