@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="/css/Cadastro.css">

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form asp-controller="Home" asp-action="Registro" method="Post">
    <h3>Cadastre-se</h3>

    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" name="Nome" placeholder="Nome" required>
    <span asp-validation-for="Nome" class="text-danger"></span><br><br>

    <label asp-for="Idade">Idade</label>
    <input type="number" asp-for="Idade" id="Idade" name="Idade" placeholder="Idade" required>
    <span asp-validation-for="Idade" name="Idade" class="text-danger"></span><br><br>

    <label asp-for="Email">Email</label>
    <input type="email" asp-for="Email" name="Email" placeholder="Email" required>
    <span asp-validation-for="Email" class="text-danger"></span><br><br>

    <label asp-for="Senha">Senha</label>
    <input type="password" asp-for="Senha" name="Senha" placeholder="Senha" required>
    <span asp-validation-for="Senha" name="Senha" class="text-danger"></span><br><br>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" style="text-align: center;">@TempData["SuccessMessage"]</div>
        <style>
            form {
                height: 750px;
            }
        </style>
        TempData.Remove("SuccessMessage");

    }
    @if (TempData["FailureMessage"] != null)
    {
        <div class="alert alert-success" style="text-align: center;">@TempData["FailureMessage"]</div>
        <style>
            form {
                height: 750px;
            }
        </style>
        TempData.Remove("FailureMessage");
    }
    <button type="submit">Cadastrar Aluno</button>
    <p style="text-align: center;">Já possui uma conta? <a href="./TLogin/aluno">Fazer Login</a></p>
</form>



@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const idadeInput = document.getElementById("Idade");
            if (idadeInput) {
                idadeInput.addEventListener("input", function () {
                    if (this.value.length > 2) {
                        this.value = this.value.slice(0, 2);
                    }
                });
            }
        });
    </script>
}
