@model ProjetoScores.Domain.ViewModels.UserLoginViewModel

@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="/css/Home.css">


<body>
  <header>

    <nav class="options">
      <img src="/images/svg/logo.svg" class="logo" alt="">
      <a href=" " class="link"> Sobre</a>
      <a href="" class="link">Notas</a>
      <a href="" class="link">Atividades</a>
    </nav>

  </header>


  <main>
    <div class="modal-window" style="display: none;">

      <button class="btn">X</button>

      <div class="window">
        <h1>Bem-Vindo <span class="user-name">@Model.Name</span></h1>
        <p>Aqui você pode gerenciar sua vida escolar!</p>

      </div>

    </div>

    <div class="dashboard" style="display: none">

      <div class="dashboard-Header">
        @Model.Name Dashboard

        <div class="Hora"></div>

      </div>

      <div class="dashboard-main">




      </div>

    </div>
  </main>


  <script src="/Js/Home.js"></script>
</body>

</html>