@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="/css/Inicio.css">




<body>
  <div class="options">

    <img src="/images/svg/logo.svg" class="logo" alt="">
    <a href=" " class="link"> Sobre</a>



    <a href="" class="link">Notas</a>



    <a href="" class="link">Atividades</a>


  </div>

  <div>

  </div>


</body>

</html>