@model ProjetoNotas.Domain.ViewModels.UserLoginViewModel

@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="/css/Inicio.css">


<body>
  <header>

    <nav class="options">
      <img src="/images/svg/logo.svg" class="logo" alt="">
      <a href=" " class="link"> Sobre</a>
      <a href="" class="link">Notas</a>
      <a href="" class="link">Atividades</a>
    </nav>

  </header>


  <main>
    <div class="janela-modal" style="display: none;">

      <button class="btn">X</button>

      <div class="janela">
        <h1>Bem-Vindo <span class="usuario-nome">@Model.Nome</span></h1>
        <p>Aqui você pode gerenciar sua vida escolar!</p>

      </div>

    </div>

    <div class="Dashboard">

      <div class="Dashboard-Header">
        @Model.Nome Dashboard

        <div class="Hora">

        </div>
        <div class="Dashbord-main">


        </div>



      </div>

    </div>
  </main>

  <script src="/Js/inicio.js"></script>

</body>

</html>