<!DOCTYPE html>
<html lang="en">

<head>



    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Css/Login.css">


</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form asp-controller="LoginView" asp-action="LoginAlunoAsync" method="Post">
        <h3>Login</h3>

        <label for="username">Usuario</label>
        <input type="text" name="Email" placeholder="Email" name="Email" name id="username" required>

        <label for="Senha">Senha</label>
        <input type="password" placeholder="Senha" name="Senha" id="password" required>

        @if (TempData["FailureMessage"] != null)
        {
            <div class="alert alert-success" style="text-align: center; margin-top: 25px;">@TempData["FailureMessage"]</div>
            <style>
                form {
                    height: 620px;
                }
            </style>
            TempData.Remove("FailureMessage");
        }

        <button>Log In</button>
        <p style="text-align: center;">Não possui uma conta? <a href="../">Cadastre-se</a></p>

        <div class="social">
            <div class="go"><i class="fab fa-google"></i> Google</div>
            <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
        </div>

    </form>
</body>

</html>
