<div class="flex flex-row justify-between gap-5 ">
    <div
        class="card-container bg-gray-900/20 flex flex-col justify-center items-center gap-1 p-4 py-8 rounded-2xl border-2 border-gray-700/90 w-2/4 sm:w-4/12 md:w-4/5/12 lg:w-3/12 2xl:w-3/12  mb-24">
        <p class="text-gray-600 text-sm">Média Geral</p>
        <p class="text-green-600 text-3xl">0</p>
    </div>

    <div
        class="card-container bg-gray-900/20 flex flex-col justify-center items-center gap-1 p-4 py-8 rounded-2xl border-2 border-gray-700/90 w-2/4 sm:w-4/12 md:w-4/12 lg:w-3/12 2xl:w-3/12  mb-24">
        <p class="text-gray-600 text-sm">Disciplinas</p>
        <p class="text-blue-600 text-3xl">0</p>
    </div>

    <div
        class="card-container bg-gray-900/20 flex flex-col justify-center items-center gap-1 p-4 py-8 rounded-2xl border-2 border-gray-700/90 w-2/4 sm:w-4/12 md:w-4/5/12 lg:w-3/12  2xl:w-3/12  mb-24">
        <p class="text-gray-600 text-sm">Trabalhos Pendentes</p>
        <p class="text-yellow-600 text-3xl">0</p>
    </div>

    <div
        class="card-container bg-gray-900/20 flex flex-col justify-center items-center gap-1 p-4 py-8 rounded-2xl border-2 border-gray-700/90 w-2/4 sm:w-4/12 md:w-4/12 lg:w-3/12 2xl:w-3/12  mb-24">
        <p class="text-gray-600 text-sm">Próximas Provas</p>
        <p class="text-purple-600 text-3xl">0</p>
    </div>
</div>